aside {
  .txt_filter {
    .selected_filter {
      background-color: #151414;
      border: 2px solid mediumpurple;
      font-weight: 600;
      border-radius: 2px;
      color: white;
      margin: 0 30px 4px;
      width: 75%;
    }
    .selected_filter:hover {
      color: #c0c0c0;
    }
  }
}