@keyframes onClickBorderRadius {
  from {
    border-radius: 3px;
  }
  to {
    border-radius: 20px;
  }
}

@keyframes onClickBorderRadiusOut {
  from {
    border-radius: 20px;
  }
  to {
    border-radius: 3px;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

h2 {
  text-align: center;
  margin: 5px;
  /*
  background-image: linear-gradient(to right, rebeccapurple, mediumpurple, rebeccapurple);
  background-image: linear-gradient(to right, mediumpurple, rebeccapurple, mediumpurple);
   */
  border-bottom: 1px solid mediumpurple;
}

aside {
  color: white;
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  width: 95%;
  top: 50px;
  background-color: #151414;
  padding: 10px;
  display: none;
  margin-top: 25px;
  margin-bottom: 20px;

  .filter_title {
    font-size: 120%;
  }

  .back_button_container {
    display: flex;
    flex-flow: row;
    justify-content: right;

    .back_menu_button {
      background-color: #151414;
      color: white;
      border: 1px solid #151414;
      font-size: 20px;
      margin-bottom: 10px;
      border-radius: 3px;
      font-family: "Zapf Dingbats";
    }

    .back_menu_button:hover {
      border: 1px solid rebeccapurple;
    }
  }

  .gender_filter {
    .selected_genders_container {
      display: flow;
    }
  }

  .txt_filter {
    .selected_filter {
      background-color: #151414;
      border: 2px solid mediumpurple;
      font-weight: 600;
      border-radius: 2px;
      color: white;
      margin: 0 30px 4px;
      width: 75%;
    }
    .selected_filter:hover {
      color: #c0c0c0;
    }

    .add_button {
      border: 2px solid rebeccapurple;
      background-color: #151414;
      color: white;
      border-radius: 20px;
      margin-left: 8px;
      width: 15%;
    }

    .selected_container {
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    .txt_input {
      margin-left: 10px;
      border-radius: 3px;
      width: 70%;
      border: 2px solid rebeccapurple;
      background-color: #151414;
      color: white;
    }

    .txt_input:focus {
      animation: onClickBorderRadius 1.5s;
      animation-fill-mode: forwards;
    }

    .txt_input:not(:focus) {
      animation: onClickBorderRadiusOut 1.5s;
      animation-fill-mode: forwards;
    }

    .add_button:hover {
      background-color: #737373;
    }

    .add_button:active {
      animation: blink 0.05s;
    }
  }
}

@media (max-width: 600px) {
  aside {
    grid-row: 2;
    grid-column: span 3;
  }
}